.mainContainer {
	background-color: black;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}
.gameContainer {
	display: flex;
	gap: 20px;
}

.title {
	color: whitesmoke;
	font-size: 2rem;
}

.rulesTextContainer {
	color: rgb(0, 200, 0);
}
