.resetButton {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #ff6347;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
}

.resetButton:hover {
	background-color: #ff4500;
}
